.add-school-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}

.add-school-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

.add-school-form button {
  background-color: #3b9996;
  color: white;
  border: none;
  padding: 14px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}

.add-school-form button:hover {
  background-color: #317f7c;
}

.form-status {
  margin-top: 10px;
  font-style: italic;
  color: #444;
  text-align: center;
}
