.resources-header-section {
  background-color: #f1f8f8;
  text-align: center;
  padding: 60px 20px;
}

.resources-header-title {
  font-size: 1.8em;
  color: #3b9996;
  margin-bottom: 12px;
  font-weight: bold;
}

.resources-header-subtext {
  font-size: 1.1em;
  color: #555;
}
